input {
    margin: 10px;
}
#submit_button {
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;;
}
#submit_button_a {
    margin-top: 20px;
    margin-bottom: 20px;
	display: inline;
}

